<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmation</title>
</head>
<body>
    <div class="result">
        <h2> Submitted Info</h2>
        <h3>...............Thanks for submitting your information.......</h3>
        <h4> First Name:     </h4>
        <p> {{fname}}</p><br>
        <h4> Last Name:      </h4>
        <p> {{lname}}</p><br>
        <h4> Email:      </h4>
        <p> {{email_id}}</p><br>
        <h4> Birth date:     </h4>
        <p> {{bday}}</p><br>     
        <form action="reset">
            <button type="submit">Go Back</button>   
        </form>       
    </div>
</body>
</html>