body{
	background-color: white;
	margin-left: auto 0;

}
.container{
	width: 700px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: lightgrey;
	margin: auto 0;
	padding: 2px;
}