<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text.css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class='container'>
  <h1> Registration Form </h1>
 {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
  <form class="inline" action="/clear" method="POST">
                <input type='submit' value='Clear form'>
        </form>
        {% endif %}
            {% endwith %}
 
  <form action='/create' method='POST'>
    First Name:<input type="text" name="firstName" value={{session['firstName']}}>
    Last Name:<input type="text" name="lastName" value={{session['lastName']}}>
    Email:<input type="text" name="email" value={{session['email']}}>
    <label for='password'>Password:</label>
    	<input type='password' name='password'/><br/>
    <label for='confirmPassword'>Confirm Password:</label>
            <input type='password' name='confirmPassword'/><br/>
    <input type="submit" value="Submit">
  </form>
  
        {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
            <h3>{{ success }}</h3>
            {% endif %}
            {% endwith %}
        </form>
 </div>
</body>
</html>